#cartHeader{
    font-size: 3vw;
    font-weight: 350;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#cartEmpty{
    font-size: 2vw;
}
.checkout-btn{
    font-size: 3vw;
}
.cart-open{
    position: fixed;
    top: 0;
    right: 0vw;
    width: 20vw;
    height: 100vh;
    z-index: 1;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

    background-color: rgb(228, 228, 228);

    transition: right 0.85s ease-in-out 
}
.cart-close{
    position: fixed;
    top: 0;
    right: -50vw;
    width: 20vw;
    height: 100vh;
    z-index: 1;

    background-color: rgb(228, 228, 228);
    transition: right 0.5s ease-in-out 
}
.cartBackDrop-open{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100%;
    background-color: black;

    /* transition: left 0.85s ease-in-out 0s; */
    animation: fadeIn 1s;
    opacity: 0.8;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 0.8;}
}


.cartBackDrop-close{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100%;
    background-color: black;
    animation: fadeOut 0.4s;

    transition: left 0.001s ease-in-out 0s;
    transition-delay: 0.4s;
    opacity: 0;
    left: -1000vw;
}
@keyframes fadeOut{
    0% { opacity: 0.8;}
    100% { opacity: 0;}
}