img{
    /* width: 15vw; */
    height: 20vw;

}
.card-image{
    position: relative;
    width: 23vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    background-color: rgb(226, 224, 224);
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}