img{
    /* width: 100vw; */
    height: 15vw;

}
.product-title{
    font-size: 1.2vw;
}
.card-image{
    position: relative;
    width: 20vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    background-color: rgb(226, 224, 224);
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-size: small;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}